<!DOCTYPE html>
<div class="p-0" style="margin-top: 7%; width: 100%; height: 45%">
  <img
    src="https://www.foodista.com/sites/default/files/Shakshuka-Recipe-with-Red-Enchilada-Sauce-1.jpg"
    alt="Shakshuka-Recipe-with-Red-Enchilada-Sauce"
    class="mw-100"
    style="width: 100%; height: 100%"
  />
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Shakshuka-Recipe-with-Red-Enchilada-Sauce</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown">
      <button
        class="btn btn-info dropdown-toggle"
        type="button"
        id="recipeDetailDropDownButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Manage
      </button>
      <ul class="dropdown-menu" aria-labelledby="recipeDetailDropDownButton">
        <li><a class="dropdown-item" href="#">Add to shopping list</a></li>
        <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <h3>Desciption:</h3>
  <p>
    Easy 7-ingredient shakshuka recipe simmered in a tangy, aromatic red chili
    sauce with rich notes of cocoa, smoked paprika, and ancho chili.
  </p>
</div>
<div class="row">
  <h4>Ingredients</h4>
  <ul class="list-group">
    <li class="list-group-item">Garlic (3)</li>
    <li class="list-group-item">Tomato (1)</li>
  </ul>
</div>
